main h1 {
	font-size: 60px;
	background-color: #851944;
	color: #FAFFFA;
	text-align: center;
	font-family:  "Open Sans Condensed", sans-serif;
}

h2 {
	font-size: 30px;
	font-family:  "Open Sans Condensed", sans-serif;
}

body {
	background-color: #F2FFFC;
}

p {
	font-family: "Crimson Text", serif;
	text-align: justify;
}